<%=h content_for(:title, truncate(@quote.content, :length => 35) + " — Jackson Gariety") %>

<section>
  <p id="notice"><%= notice %></p>

  <article>
    <p>"<%= @quote.content %>"</p>
    <p class="author">&mdash; <%= @quote.author %></p>
  </article>
<section>