<%=h content_for(:title, "About Jackson Gariety") %>

<section>
  <h1>About</h1>
  <article>
    <p>I've been doing full-stack web design & development for over 4 years.</p>
    <span>You should hire me if you need a developer who demands perfection, organization, interface elegance, and has a unique understanding of human design patterns. I specialize in user interaction design but also have a strong foothold in NodeJS and Ruby on Rails development.</span>
    <h2 id="email">Email</h2><br>
    <p>If you have any questions for me at all, I read everything that gets sent here: <script>document.write("<a href=\"mailto:personal" + "@" + "jacksongariety.com\">personal" + "@" + "jacksongariety.com</a>")</script>.</p>
    <h2 id="resume">Résumé</h2><br>
    <strong>2009 - 2011</strong>
    <ul class="inside">
      <li>Introduced to the world of business and technology while doing freelance web application development.</li>
      <li>My more recent client work is available in the <a href="/projects">projects</a> section.</li>
      <li>I also attended Grant High School.</li>
    </ul><br>
    
    <strong>2012</strong>
    <ul class="inside">
      <li>Inspired, I started building a frighteningly ambitious social web platform called <a href="http://wordpress.org/plugins/hashtraffic-plugin/">HashTraffic</a>.</li>
      <li>I took the beta software to <a href="http://portland.startupweekend.org">Portland Startup Weekend</a> and received a standing ovation from the crowd after demoing it on-stage solo. I took home the 'best developer' award and the software received 'best execution'.</li>
      <li>I joined the <a href="http://studentrnd.com">StudentRND</a> family and hosted CodeDay Portland, a hackathon for students. Six teams presented to a panel of influential Portland startup CEOs.</li>
      <li>This was the year I realized I wanted to be an inventor.</li>
    </ul><br>
    
    <strong>2013</strong>
    <ul class="inside">
      <li>I joined the <a href="http://www.techstars.com">TechStars</a> family at the <a href="http://nikeaccelerator.com">Nike+ startup accelerator</a> and helped build the products of 10 amazing fledgling companies.</li>
      <li>I partnered with <a href="http://www.pps.k12.or.us/schools/grant/">Grant High School</a> and <a href="https://teamtreehouse.com">Treehouse</a> to teach Oregon's first public high-school web development and app architecture course.</li>
      <li>I made the popular "Flat UI"-inspired text editor color scheme, <a href="http://toychesttheme.com">Toy Chest Theme</a>.</li>
      <li>I launched my own startup, <a href="http://canarykno.ws">Canary</a>, and started to build the foundations of my business side.</li>
      <li>I'll also be speaking at <a href="http://techfestnw.com">TechFestNW</a> in September.</li>
    </ul><br>
    <strong>Design</strong>
    <p>I spend a lot of time working with pixels and <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a>. Everything I build, I'm always thinking of ways it could be done to be easier to use. I love the work <a href="http://worrydream.com/">Bret Victor</a> does with <a href="http://worrydream.com/#!/ABriefRantOnTheFutureOfInteractionDesign">interaction design</a>. I go to BarCamp Portland each year and give talks on how to make the world a better place through design. This site is a good example of my web design abilities.</p>
    <strong>Development</strong>
    <p>My favorite environment is NodeJS, but I've been writing Ruby and PHP for as long as I've been writing code.</p>
    <p>Here's a list of technologies I've used sorted by the time since I've last used them:</p>
    <ul class="inside">
      <li>NodeJS</li>
      <li>EmberJS</li>
      <li>HTML5</li>
      <li>JavaScript</li>
      <li>Ruby on Rails</li>
      <li>AngularJS</li>
      <li>CSS3</li>
      <li>SQL</li>
      <li>NoSQL</li>
      <li>jQuery</li>
      <li>PHP</li>
      <li>Python</li>
    </ul><br>
  </article>
</section>