<%=h content_for(:title, "About Jackson Gariety") %>

<section>
  <h1>About</h1>
  <article>
    <p>I've been doing full-stack web design & development for over 4 years.</p>
    <p>You should hire me if you need a developer who demands perfection, organization, interface elegance, and has a unique understanding of human design patterns. I specialize in user interaction design but also have a strong foothold in NodeJS and Ruby on Rails development.</p>
    <h2 id="email">Email</h2><br>
    <p>If you have any questions for me at all, I read everything that gets sent here: <script>document.write("<a href=\"mailto:personal" + "@" + "jacksongariety.com\">personal" + "@" + "jacksongariety.com</a>")</script>.</p>
    <h2 id="resume">Résumé</h2><br>
    <strong>2009 - 2011</strong>
    <ul class="inside">
      <li>Freelance web application development. Front-end & back-end.</li>
      <li>Some of my recent client work is featured in the <a href="/#projects">projects</a> section.</li>
      <li>Attended Grant High School.</li>
    </ul><br>
    
    <strong>2012</strong>
    <ul class="inside">
      <li>In 2012 I started working with <a href="http://www.linkedin.com/in/brianjesse">Brian Hendrickson</a> to build a social web platform called <a href="http://hashtag.ly/search/">HashTraffic</a>.</li>
      <li>I took home the 'best developer' prize at <a href="http://portland.startupweekend.org">Portland Startup Weekend</a> and won 'crowd favorite' for my software.</li>
    </ul><br>
    
    <strong>2013</strong>
    <ul class="inside">
      <li>Worked as an in-house developer (HackStar) at the <a href="http://nikeaccelerator.com">TechStars startup accelerator</a> in Portland.</li>
      <li>Started teaching a class on web design, development, and app architecture.</li>
      <li>Launched a series of projects including <a href="http://canarykno.ws">Canary</a>, <a href="http://thelist.io">The List</a> and <a href="http://toychesttheme.com">Toy Chest Theme</a>.</li>
    </ul><br>
    <strong>Development</strong>
    <p>My favorite environment is NodeJS, but I've been writing Ruby and PHP for as long as I've been writing code.</p>
    <p>Here's an list of technologies I've used sorted by when I last used them:</p>
    <ul class="inside">
      <li>NodeJS</li>
      <li>EmberJS</li>
      <li>HTML5</li>
      <li>JavaScript</li>
      <li>Ruby on Rails</li>
      <li>AngularJS</li>
      <li>CSS3</li>
      <li>SQL</li>
      <li>NoSQL</li>
      <li>jQuery</li>
      <li>PHP</li>
      <li>Python</li>
    </ul><br>
    <strong>Design</strong>
    <p>I spend a lot of time with working with pixels and <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a>. Everything I build, I'm always thinking of ways it could be done to be easier to use. I love the work <a href="http://worrydream.com/">Bret Victor</a> does with <a href="http://worrydream.com/#!/ABriefRantOnTheFutureOfInteractionDesign">interaction design</a>. I go to BarCamp Portland each year and give talks on how to make the world a better place through design. This site is a good example of my web design abilities.</p>
  </article>
</section>