<section>
  <h1>Resumé</h1>
  <article>
    <p>Hello, I've been doing design and development with computers for around 4 years.</p>
    <p>You should hire me if you need a developer who demands perfection, organization, interface elegance, and has a unique understanding of human design patterns. Though front-end is my specialty, I also write a lot of <a href="http://www.ruby-lang.org/en/">Ruby</a>.</p>
    <strong>This entire website is my resumé</strong>
    <p>Seriously, take a look around. This site is a history of my work experience as well as my life and every notable side project I've done. It showcases my design abilities, my skills with Ruby on Rails and MVC, and my intuition for elegant interface design. I recommend starting with the <a href="/#projects">projects</a> section.</p>
    <strong>2009 - 2012</strong>
    <p>Attending Grant High School.</p>
    <p>I started doing freelance web design in early 2009. My first clients were local businesses but I slowly grew my abilities and network to pay for better design and development tools.</p>
    <p>Some of my recent client works I regard so highly they're actually featured in the <a href="/#projects">projects</a> section of this site.</p>
    <strong>2012 - Present</strong>
    <p>In 2012 I started working with <a href="http://www.linkedin.com/in/brianjesse">Brian Hendrickson</a> to build a social web platform called <a href="http://hashtag.ly/search/">HashTraffic</a> which has been developed and is currently being sold.</p>
    <p>I also teach a class on app development.</p>
    <strong>Development</strong>
    <p>My favorite framework to use is Ruby on Rails <i>(if you're on this site, you're riding it now!)</i>, but I'm comfortable in a variety of them.</p>
    <p>Here's an ordered list of how I spread out my development abilities:</p>
    <ol class="inside">
      <li>HTML5: 100%</li>
      <li>CSS3: 100%</li>
      <li>jQuery: 100%</li>
      <li>Non-library JavaScript: 90%</li>
      <li>Ruby on Rails: 85%</li>
      <li>MySQL: 85%</li>
      <li>PHP: 70%</li>
      <li>Python: 25%</li>
    </ol><br>
    <strong>Design</strong>
    <p>I spend a lot of time with working with pixels and <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a>. Everything I build, I'm always thinking of ways it could be done to be easier to use. I love the work <a href="http://worrydream.com/">Bret Victor</a> does with <a href="http://worrydream.com/#!/ABriefRantOnTheFutureOfInteractionDesign">interaction design</a>. I go to BarCamp Portland each year and give talks on how to make the world a better place through design. This site is a good example of my web design abilities.</p>
    <strong>Hire me</strong>
    <p>If you think I can help you in some way, don't hesitate to contact me at <script>document.write("<a href=\"mailto:personal" + "@" + "jacksongariety.com\">personal" + "@" + "jacksongariety.com</a>")</script>.</p>
    <p>Thanks!</p>
  </article>
</section>