/* Responsive Schtuff */
@media only screen and (max-width: 1150px) {
  aside {
    position: relative;
    width: 100%;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
    left: 0;
    border-bottom: 1px dashed #bbb;
  }

  #me, #my-shadow {
    margin-left: auto;
    margin-right: auto;
  }
  
  aside .tilde:first-child {
    display: none;
  }
}